Flow_MDmaster_v00
[{"id":"d57c437f.d3562","type":"mqtt in","z":"9b868007.c5781","name":"","topic":"/MDtest-digitalInNr","qos":"2","broker":"f8cc0a74.79bcf","x":665,"y":172,"wires":[["63ce23e6.f9496c"]]},{"id":"63ce23e6.f9496c","type":"debug","z":"9b868007.c5781","name":"","active":true,"console":"false","complete":"false","x":861,"y":172,"wires":[]},{"id":"b190369e.15092","type":"inject","z":"9b868007.c5781","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":275,"y":241,"wires":[["95e25b53.3346f8"]]},{"id":"e745e5aa.eeb318","type":"inject","z":"9b868007.c5781","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":274,"y":273,"wires":[["95e25b53.3346f8"]]},{"id":"95e25b53.3346f8","type":"mqtt out","z":"9b868007.c5781","name":"","topic":"/MDtest-relays","qos":"","retain":"","broker":"f8cc0a74.79bcf","x":541,"y":258,"wires":[]},{"id":"1da7293.335ac57","type":"mqtt out","z":"9b868007.c5781","name":"","topic":"/MDtest-digitalIn","qos":"","retain":"","broker":"f8cc0a74.79bcf","x":456,"y":174,"wires":[]},{"id":"a0c71ba3.9a61c8","type":"inject","z":"9b868007.c5781","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":276,"y":174,"wires":[["1da7293.335ac57"]]},{"id":"56294560.1096fc","type":"mqtt out","z":"9b868007.c5781","name":"","topic":"/MDtest-builtinled","qos":"","retain":"","broker":"f8cc0a74.79bcf","x":461,"y":94,"wires":[]},{"id":"a39ddf3e.ab7648","type":"inject","z":"9b868007.c5781","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":275,"y":94,"wires":[["56294560.1096fc"]]},{"id":"7e8f905d.5216b8","type":"mqtt in","z":"9b868007.c5781","name":"","topic":"/MDtest-analogA0nr","qos":"2","broker":"f8cc0a74.79bcf","x":676,"y":340,"wires":[["3a032047.94972"]]},{"id":"3a032047.94972","type":"debug","z":"9b868007.c5781","name":"","active":true,"console":"false","complete":"false","x":862,"y":340,"wires":[]},{"id":"25d9139d.3707cc","type":"mqtt out","z":"9b868007.c5781","name":"","topic":"/MDtest-analogA0","qos":"","retain":"","broker":"f8cc0a74.79bcf","x":442,"y":341,"wires":[]},{"id":"8d0d05d5.a690d8","type":"inject","z":"9b868007.c5781","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":276,"y":341,"wires":[["25d9139d.3707cc"]]},{"id":"80f748a7.529c5","type":"mqtt in","z":"9b868007.c5781","name":"","topic":"/MDtest-temperature","qos":"2","broker":"f8cc0a74.79bcf","x":680,"y":412,"wires":[["628b976.1883fe8"]]},{"id":"628b976.1883fe8","type":"debug","z":"9b868007.c5781","name":"","active":true,"console":"false","complete":"false","x":866,"y":412,"wires":[]},{"id":"32cb9d88.291c42","type":"mqtt out","z":"9b868007.c5781","name":"","topic":"/MDtest-dht22","qos":"","retain":"","broker":"f8cc0a74.79bcf","x":435,"y":435,"wires":[]},{"id":"e5022bef.ced74","type":"inject","z":"9b868007.c5781","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":274,"y":435,"wires":[["32cb9d88.291c42"]]},{"id":"f4c66f2a.d0d0a","type":"mqtt in","z":"9b868007.c5781","name":"","topic":"/MDtest-humidity","qos":"2","broker":"f8cc0a74.79bcf","x":671,"y":461,"wires":[["459474bd.1f3084"]]},{"id":"459474bd.1f3084","type":"debug","z":"9b868007.c5781","name":"","active":true,"console":"false","complete":"false","x":865,"y":461,"wires":[]},{"id":"f8cc0a74.79bcf","type":"mqtt-broker","z":"9b868007.c5781","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""}]
